.appContainer {
  @apply relative z-10 flex flex-row items-center justify-center min-h-screen gap-12; 
  background: linear-gradient(135deg, #ffe1fc, #ffb6c1);
}

.Container{
@apply flex flex-col items-center justify-center gap-4;
} 


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

