.starryBackground {
  @apply absolute top-0 left-0 w-full h-full overflow-hidden; 
}

.star {
  position: absolute;
  background: #140314; 
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation: sparkle 5s infinite ease-in-out;
  opacity: 0.7;
}

@keyframes sparkle {
  0%, 100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
 